<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RoomMapper">
    <select id="getRoomList" resultType="com.example.entity.Room">
        select * from room;
    </select>

    <insert id="addRoom" parameterType="com.example.entity.Room">
        INSERT INTO room(
            rno,hno,room_count,room_name,
            room_1,room_2,room_3,room_4,
            room_5,room_6,room_7,room_8
        )VALUES(
                #{rno},#{hno},#{roomCount},
                #{roomName},#{room1},#{room2},
                #{room3},#{room4},#{room5},
                #{room6},#{room7},#{room8}
                )
    </insert>

    <delete id="deleteByRno" parameterType="java.lang.Integer">
        DELETE FROM room WHERE rno = #{rno}
    </delete>
</mapper>